

.text-input {
    -fx-text-fill: white;
    -fx-font-weight: bold;
-fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
-fx-float-text-fill: white;
}


.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
     -fx-background-color: darkgray;
}

.chart-plot-background {
    -fx-background-color: black;
}

.menu-item:focused .label {
    -fx-text-fill: Cyan;
}

.context-menu {

    -fx-background-color: gray;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
/*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}



.second_button{

-fx-shape:"M 0 250 L 50 150 L 750 150 L 800 250 L 750 350 L 50 350 L 0 250 ";
-fx-background-color: black;
-fx-border-color: orange;

}

.panePlay{
    -fx-background-image: url("..//Images//background.jpg");
     -fx-background-size: 100% 100%;


}
.endButton{

  -fx-shape:"M 0 250 L 50 150 L 750 150 L 800 250 L 750 350 L 50 350 L 0 250 ";
  -fx-background-color: black;
  -fx-border-color: orange;

}

.endButtonDef{

  -fx-shape:"M 0 250 L 50 150 L 750 150 L 800 250 L 750 350 L 50 350 L 0 250 ";
  -fx-background-color: Peru;
  -fx-border-color: orange;

}

.endButtonDef:hover{

  -fx-shape:"M 0 250 L 50 150 L 750 150 L 800 250 L 750 350 L 50 350 L 0 250 ";
      -fx-background-color: orange;
      -fx-border-color: orange;

}

.endButton:hover{

  -fx-shape:"M 0 250 L 50 150 L 750 150 L 800 250 L 750 350 L 50 350 L 0 250 ";
    -fx-background-color: orange;
    -fx-border-color: orange;

}

.paneMenu{
    -fx-background-image: url("..//Images//menu_5.jpg");
     -fx-background-size: 100% 100%;

}

.paneEnd{

    -fx-background-image: url("..//Images//end.png");
     -fx-background-size: 100% 100%;

}




.dark-blue {
    -fx-background-color:
      #11678a,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}
.dark-blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}



.dark-green {
    -fx-background-color:
      #118a15,
        linear-gradient(#118a2f 0%, #166137 20%, #18401e 100%),
        linear-gradient(#202b20, #19221b),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}
.dark-blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}
.second_button:hover{
-fx-background-color:DodgerBlue;


}

.question_field{

-fx-shape:"M 0 250 L 50 150 L 750 150 L 800 250 L 750 350 L 50 350 L 0 250 ";
-fx-background-color: black;
-fx-border-color: orange;

}





.table-view{
-fx-background-color: #474747;
-fx-background-radius:30;
-fx-fill:white;

}

.table-view .column-header-background{
-fx-background-color: #575757;
-fx-background-radius: 30;
-fx-background-insets: 0 0 10 0;
-fx-padding: 0 0 10 0;
-fx-effect: dropshadow(two-pass-box, rgb(10,101,107),15,0.0,0.1,3)
}

.table-view .column-header, .table-view.filler{
-fx-size: 40;
-fx-border-width: 0 0 10 0;
-fx-background-color:transparent;
}

.table-view.column-header.label{
-fx-text-fill: white;

}

.table-row-cell:odd{
-fx-background-color: #474747;
-fx-padding:0.0em;
}

.table-row-cell:even{
-fx-background-color: #575757;
-fx-padding:0.0em;
}

.table-column{
-fx-text-fill: white;
}

.table-column:hover{
-fx-text-fill: cyan;
}

.table-row-cell:selected  {
   -fx-background-color: DodgerBlue;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-shape: null;
}




.table-view *.scroll-bar:vertical *.increment-arrow,
.table-view *.scroll-bar:vertical *.decrement-arrow {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-shape: null;
}



.glass-grey {
     -fx-background-color:
         #c3c4c4,
         linear-gradient(#d6d6d6 50%, white 100%),
         radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
     -fx-background-radius: 30;
     -fx-background-insets: 0,1,1;
     -fx-text-fill: black;
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
 }

